In [6]:
%sql sqlite:///lab1.db

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
%sql DROP TABLE MyGraph;

 * sqlite:///lab1.db
Done.

[]

In [1]:
%%sql sqlite://
CREATE TABLE MyGraph(
    ID VARCHAR(10) NOT NULL UNIQUE,
    Source int NOT NULL,
    Destination int NOT NULL,
    PRIMARY KEY (ID)
);

UsageError: Cell magic `%%sql` not found.

In [23]:
%sql insert into MyGraph values ("Id1",1,2)

 * sqlite:///lab1.db
1 rows affected.

[]

In [24]:
%sql alter table MyGraph add column weight int;

 * sqlite:///lab1.db
Done.

[]

In [11]:
%sql update MyGraph set weight = abs(random() % 11);

 * sqlite:///lab1.db
0 rows affected.

[]

In [25]:
%sql select * from MyGraph;

 * sqlite:///lab1.db
Done.

[('Id1', 1, 2, None)]